/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap" rel="stylesheet"> */

@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap");
// <weight>: Use a value from 100 to 400
// <uniquifier>: Use a unique and descriptive class name

.playwrite-au-qld-<uniquifier > {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
